/*

	EnergyCAP Interview Project CSS 
	by Joshua Grosser
	joshua.grosser@gmail.com
	
*/

/* Global HTML Tag Styles */

a:link, a:visited, a:active
{
    font-size: small;
    color: #0084A9;
    font-weight: bold;
    text-decoration: none;
}

a:hover
{
    font-size: small;
    color: #0084A9;
    font-weight: bold;
    text-decoration: underline;
}

p
{
    padding: 10px;
}

h1
{
    font-family: Verdana, Tahoma, Geneva, sans-serif;
    color: #000;
    font-size: 20px;
	font-weight: normal;
	padding: 10px;
}

h2
{
    font-family: Verdana, Tahoma, Geneva, sans-serif;
    color: #000;
    font-size: 16px;
	font-weight: bold;
	padding: 10px;
}

h3
{
    font-family: Verdana, Tahoma, Geneva, sans-serif;
    color: #000;
    font-size: 14px;
	font-weight: bold;
	padding: 10px;
}